@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@theme {
  --color-primary: #b6a0ff;
  --color-secondary: #3fff8b;
  --color-tertiary: #6e9bff;
  --color-obsidian: #0d0e13;
  --color-default-gray: #24252d;

  --color-outline: #47474e;

  --font-headline: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
}

@layer utilities {
  .glass-card {
    background: rgba(24, 25, 32, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}